<ion-view title="Restaurants list">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Location">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Food Type">
            </label>
            <label class="item item-input" name="Location">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Location">
            </label>
        </form>
          <ion-list>
            <ion-item class="item-divider list-inline">
              <li class="listHeading" id="distanceTitle" ng-click="order('restaurant.dist')">Dist</li>
              <li class="listHeading" id="nameTitle" ng-click="order('restaurant.name')"> Name</li>
              <li class="listHeading pull-right" id="waitTitle" ng-click="order('restaurant.wait')">Wait</li>
            </ion-item>
            <ion-item  ng-repeat="restaurant in data | orderBy:predicate:reverse" ui-sref="menu.restaurant" ng-click="transferEvent(restaurant.restaurant)">
                {{ restaurant.restaurant.dist }}mi - {{ restaurant.restaurant.name }} <img class="waitColorDot" ng-src="../img/{{restaurant.restaurant.wait}}.png">
                <img class="rightChevron" ng-src="../img/rightChevron.png">
            </ion-item>
          </ion-list>
    </ion-content>
</ion-view>
