<ion-view title="{{ restaurant.name }}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="mapWrap" data-tap-disabled="true">
        <map center="{{ restaurant.lat }},{{ restaurant.lng }}" zoom="15">
          <marker position = "{{ restaurant.lat }}, {{ restaurant.lng}}"></marker>
        </map>
      </div>

      <ion-list>
        <!-- https://www.google.com/maps/dir/604+Arizona+Ave+Santa+Monica/{{restaurant.address}} -->
        <ion-item>
          <h1 id="restName">{{ restaurant.name }}</h1>
        </ion-item>
        <ion-item>
          <h3 id="star" class="restInfo"> {{ starString }}</h3>
        </ion-item>
        <ion-item>
          <h3 class="restInfo"><span id="price">{{ restaurant.price }}</span> - {{ restaurant.category }}</h3>
        </ion-item>
        <ion-item>
          <h3 class="restInfo" ng-click="addFavorites()" ng-if="checkHist()">Add to Favorites <i class="ion-android-favorite"></i></h3>
          <h3 class="restInfo" ng-click="removeFavorite()" ng-if="checkHist() === false">Remove from favorites</h3>
        </ion-item>
      </ion-list>

      <ion-list>
        <!-- https://www.google.com/maps/dir/604+Arizona+Ave+Santa+Monica/{{restaurant.address}} -->
        <ion-item class="item-text-wrap" ng-if="restaurant.address" target="_blank" ng-href="https://www.google.com/maps/dir/{{userLocation.lat + ',' + userLocation.long}}/{{restaurant.address}}">
          <h2 class="restDetails">{{ restaurant.address }}</h2>
        </ion-item>
        <ion-item>
          <h2 class="restDetails">Estimated Wait Time is {{ waitString }}</h2>
        </ion-item>
        <ion-item>
          <div id="currWait"></div>
        </ion-item>
      </ion-list>

      <h1 class="center-block center-text checkIn">Check In</h2>

      <span class="button-bar">
        <button class="button button-balanced button-block waitTimeButtons" id="shortWait" ng-click="updateWait('0_green')"><div class="checkInButtons">< 10 Mins</div></div>
        <button class="button button-energized button-block waitTimeButtons" id="medWait" ng-click="updateWait('1_yellow')"><div class="checkInButtons">~ 20 Mins</div></div>
        <button class="button button-assertive button-block waitTimeButtons" id="longWait" ng-click="updateWait('2_red')"><div class="checkInButtons">> 30 Mins</div></div>
      </span>

    </ion-content>
</ion-view>
