/* Set main base font size of document that em is based off of */
* {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-size: 16px;
  font-weight: 400;
}

.logo {
  padding-bottom: 1em;
  padding-top: 1em;
  width: auto;
  height: auto;
}

h1, h2 {
  margin: 10px 0px;
}

.nav {
  text-align: center;
}

.nav li {
  display: inline-block;
}

.list-map {
  margin: 0 auto;
  width: 80%;
}

#pageHeader {
  border-bottom: 1px solid #aaaaaa;
}

.center-text {
  text-align: center;
}

.mainList {
  text-align: center;
  margin: 2.5%;
}

.listItem {
  width: 85%;
  color: white;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 5%;
  padding: 1.5%;
  opacity: 0.6;
  font-size: 1em;
}

.listItem a {
  text-decoration: none;
}

.list-group {
  padding-left: 15px;
  padding-right: 15px;
}

.list-group-item {
  font-size: 3em;
  padding: 15px 20px 15px 20px;
}

a.list-group-item {
  padding-right: 80px;
}

.listHeading {
  font-size: 1.5em;
  font-weight: bold;
}

.listHeading:hover {
  background-color: #eee;
}

#listViewHeader {
  padding-bottom: 0;
}

#distanceTitle {
  padding-right: 1.5em;
}

#waitTitle {
  position: absolute;
  right: 3%;
}

#restViewMap {
  height: 500px;
  padding: 0px 15px;
}

.restaurantInfoWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#restName {
  font-size: 1.1em;
}

.restInfo {
  font-size: 1.1em;
}

.restDetails {
  font-size: .8em;
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: wrap ;
}

.oliveGreen {
  background-color: #aaaaaa;
}

.lightText {
  color: #eeeeee;
}

.checkIn {
  font-size: 4em;
  margin: 5%
}

#currWait {
  height: 100px;
  width: 100%;
}

.waitTimeButtons {
  height: 150px;
  margin: 0 1%;
}

.green, #shortWait {
  background-color: #5cb85c;
}

.yellow, #medWait {
  background-color: #f0ad4e;
}

.red, #longWait {
  background-color: #d9534f;
}

.transparent {
  opacity: .8;
}

.btn-group>.btn-default.active:hover {
  color: #111;
}

.btn-group>.btn-default.active, .btn-group>.btn-default.active:focus {
  opacity: 1;
  color: #111;
}

#sweetAlert {
  font-size: 3.5em;
  margin: 0 1em 1em 1em;
}

.waitColorDot {
  position: absolute;
  height: 1.5em;
  right: 6%;
  top: 0;
  bottom: 0;
  margin: auto 2%;
}

.rightChevron {
  position: absolute;
  height: 1.5em;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 3%;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
}

/*
Responsive via media queries.  Default scale is for mobile
On device width over 736, which is iPhone 6 Plus, we scale font size down
so it looks better on desktop.
*/
@media only screen
and (min-device-width : 736px) {
  .logo {
    width: 25%;
  }
  * {
    font-family: "Lato", "Helvetica";
    font-size: 8px;
    font-weight: 300;
  }

  #distanceTitle {
    padding-right: 1em;
  }

  #waitTitle {
    padding-right: 0.5em;
  }
}

.scrollable {
   position: relative;
}

#backButtonDiv {
   position: fixed;
   z-index: 999999;
   top: 2%;
   left: 1%;
   height: auto;
   width: auto;
}

map {
  width: 100%;
  height: 100% !important;
}

.scroll, .mapWrap {
  height: 50%;
}

.item-divider.list-inline {
  list-style-type: none;
}

.listHeading {
  display: inline;
}

.button {
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  display: inline;
}

.checkInButtons {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: black;
}

/*check in time*/
.checkInTime {
  font-size: .8em;
  font-style: italic;
  color: #aaaaaa;
}

.checkInTime.moment {
}
